.jumbotron {
  background-color: #f7b80a;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10 px 0 10px;
  background-color: #de0f04;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
}
.btn-reserva {
  width: 100%;
}
.tab-content {
  padding-top: 10px;
}
