@yellow: #f7b80a;
@red: #de0f04;
.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px);
    
}
footer{
    padding: 10px 10 px 0 10px;
    background-color: @red;
    .margenes(10px, 0px);
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}
.btn-reserva{
    width: 100%;
}
.tab-content{
    padding-top: 10px;
}