.jumbotron {
  background-color: #f7b80a;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
}

footer {
  padding: 10px 10 px 0 10px;
  background-color: #f7b80a;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
}

.btn-reserva {
  width: 100%;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles1.css.map */
